@{
    ViewData["Title"] = "Food Input Page";
}
@using WebAppFinal.Models
<h1>@ViewData["Title"]</h1>
<form asp-controller="Home" asp-action="OtherFood" method="post">

    <p>Please enter the FOODS NAME:         <input type="text" id="FoodName" name="FoodName" /></p>
    <p>Please enter the FOODS TYPE:         <input type="text" id="FoodType" name="FoodType" /></p>
    <p>Please enter the FOODS COST:         <input type="number" id="FoodCost" name="FoodCost" /></p>
                                            <input type="hidden" name="ghostCounter" value="2" />
                            <button type="submit">Next</button>

</form>