@{
    ViewData["Title"] = "Other School Page";
}
@using WebAppFinal.Models
<h1>@ViewData["Title"]</h1>

<form asp-controller="Home" asp-action="OtherSchool" method="post", id="formId">

    <p>Did this person went to any other SCHOOLS</p>
    <button type="submit" id="YesButton" name="YesNo" value="True">YES</button>
    <button type="submit" id="NoButton" name="YesNo" value="False">NO</button>
</form>