@{
    ViewData["Title"] = "Other Food Page";
}
@using WebAppFinal.Models
<h1>@ViewData["Title"]</h1>

<form asp-controller="Home" asp-action="OtherFood" method="post" , id="formId">

    <p>Does this person have any other FAVORITE FOOD</p>
    <button type="submit" id="YesButton" name="YesNo" value="True">YES</button>
    <button type="submit" id="NoButton" name="YesNo" value="False">NO</button>
</form>