@{
    ViewData["Title"] = "Kisi Input Page";
}
@using WebAppFinal.Models
<h1>@ViewData["Title"]</h1>
<form asp-controller="Home" asp-action="CreateKisi" method="post">
    
                            <h2>Please enter the KISI's information</h2>
        <p>Please enter the persons NAME:       <input type="text"  id="Name" name="Name" /></p>
        <p>Please enter the persons SURNAME:    <input type="text"  id="Surname" name="Surname" /></p>
        <p>Please enter the persons AGE:        <input type="number"id="Age" name="Age" /></p>
                                                <input type="hidden" id="Id" name="Id" value="0"/>
                                                <input type="hidden" name="ghostCounter" value="0"/>
                                <button type="submit">Submit</button>

</form>