@{
    ViewData["Title"] = "Input Page";
}
<h1>@ViewData["Title"]</h1>
<form asp-controller="Home" asp-action="ShowKisiList" method="post">
     
    <div id="creatingTheKisi" style="display:block">
    
                          <h2>Please enter the KISI's information</h2>
        <p>Please enter the persons NAME:       <input type="text" name="inputName" /></p>
        <p>Please enter the persons SURNAME:    <input type="text" name="inputSurname" /></p>
        <p>Please enter the persons AGE:        <input type="number" name="inputAge" /></p>
                    <button type="button" onclick="SwitchCase('startUp')">Next</button>
    
    </div>


    <div id="enteringSchools" style="display:none">
        <p>Make sure none of the values has a semicolon</p>
        <p>Please enter the SCHOOLS NAME:       <input type="text" id="schoolName" name="schoolName" /></p>
        <p>Please enter the SCHOOLS CITY:       <input type="text" id="schoolCity" name="schoolCity" /></p>
        <p>Please enter the SCHOOLS DISTRICT:   <input type="text" id="schoolDistrict" name="schoolDistrict" /></p>
        <p>Please enter the SCHOOLS SCORE:      <input type="number" id="schoolScore" name="schoolScore" /></p>
                    <button type="button" id="schoolButton" onclick="SwitchCase('batchlorsDegree')">Next</button>

    </div>
    
    
    <div id="higherEducation" style="display:none">
       
        <p>Did this person went to any other SCHOOLS</p>
        <button type="button" onclick="SwitchCase('yesButton1')">YES</button>
        <button type="button" onclick="SwitchCase('noButton1')">NO</button>

    </div>



    
    <div id="hungryShark" style="display:none">
        <p>Make sure none of the values has a semicolon</p>
        <p>Please enter the FOODS NAME:         <input type="text" id="foodName" name="foodName" /></p>
        <p>Please enter the FOODS TYPE:         <input type="text" id="foodType" name="foodType" /></p>
        <p>Please enter the FOODS COST:         <input type="number" id="foodCost" name="foodCost" /></p>
        <button type="button" id="reflect" onclick="SwitchCase('tnxForTheMeal')">Next</button>

    </div>
    

    <div id="oneTinyBite" style="display:none">
        
        <p>Does this person have any other FAVORITE FOOD</p>
        <button type="button" onclick="SwitchCase('yesButton2')">YES</button>
        <button type="button" onclick="SwitchCase('noButton2')">NO</button>

    </div>
    
    
    <div id="theNightmareIsOver" style="display:none">
                    <p>Look at the KISIDEX?</p>
        <button type="button" id="theNightmareIsOverButton" onclick="SwitchCase('theNightmareIsOverButton')">Submit</button>
    </div>

    <div id="really" style="display:none">
        <p>Are You Sure?</p>
        <button type="submit">Submit</button>
    </div>

</form>
<script>
    var BookShelf;
    var Fridge;
    function SwitchCase(identifiyer) {
        switch (identifiyer) {
            case 'startUp':
                creatingTheKisi.style.display = "none";
                enteringSchools.style.display = "block";
                break;

            case 'batchlorsDegree':
                enteringSchools.style.display = "none";
                higherEducation.style.display = "block";
                break;

            case 'yesButton1':
                higherEducation.style.display = "none";
                enteringSchools.style.display = "block";
                break;

            case 'noButton1':
                higherEducation.style.display = "none";
                hungryShark.style.display = "block";
                break;

            case 'tnxForTheMeal':
                hungryShark.style.display = "none";
                oneTinyBite.style.display = "block";
                break;

            case 'yesButton2':
                oneTinyBite.style.display = "none";
                hungryShark.style.display = "block";
                break;

            case 'noButton2':
                oneTinyBite.style.display = "none";
                theNightmareIsOver.style.display = "block";
                break;

            case 'theNightmareIsOverButton':
                theNightmareIsOver.style.display = "none";
                really.style.display = "block";
                break;

            default:
                console.log("Unknown case: " + identifiyer);
                break;
        }
    }
    const skulButton = document.getElementById('schoolButton');
    const fudButton = document.getElementById('reflect');
    const schoolData = document.getElementById('enteringSchools');
    const foodData = document.getElementById('hungryShark');

    skulButton.addEventListener('click', function () {
        var FakeSchool = schoolData.querySelector('input[name="schoolName"]').value + ";" + schoolData.querySelector('input[name="schoolCity"]').value + ";" + schoolData.querySelector('input[name="schoolDistrict"]').value + ";" + schoolData.querySelector('input[name="schoolScore"]').value + ";";
        BookShelf = BookShelf + FakeSchool;
    });
    fudButton.addEventListener('click', function () {
        var FakeFood = foodData.querySelector('input[name="foodName"]').value + ";" + foodData.querySelector('input[name="foodType"]').value + ";" + foodData.querySelector('input[name="foodCost"]').value + ";";
        Fridge = Fridge + FakeFood;
    });
    
    async function sendDataToServer() {
        try 
        {
                const ajaxData = new FormData();
            {
                ajaxData.append('inputName', document.querySelector('input[name="inputName"]').value);
                ajaxData.append('inputSurname', document.querySelector('input[name="inputSurname"]').value);
                ajaxData.append('inputAge', document.querySelector('input[name="inputAge"]').value);
                ajaxData.append('futs', Fridge);
                ajaxData.append('skul', BookShelf);
            }
            await $.ajax({
                type: "POST",
                url: "/Home/ShowKisiList",
                data: ajaxData,
                processData: false,
                contentType: false,
            });
            console.log("Data sent successfully.");
        } 
        catch (error) {
            console.error("An error occurred:", error);
        }
    }
    $('#theNightmareIsOverButton').on('click', function (event) {
        event.preventDefault();
        sendDataToServer();
        document.getElementById("theNightmareIsOverButton").click;
    });
</script>